html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Raleway', San Serif;
  margin-bottom: 60px;
}

body > .container {
padding-top: 80px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.title {
  font-weight: 700;
  margin-top:0px;

}

.details-ul{
      list-style-type: none;
      padding: 0
    }

.details-ul li{
      line-height: 1.4em;
}

/*navbar*/

.navbar-statuslex {
  background-color: #2C3E50;
}
.navbar-statuslex .navbar-brand {
  color: #ECF0F1;
  font-size: 3em;
  font-weight: 700;
  margin: 10px 0px;
}
.navbar-statuslex .navbar-brand:hover,
.navbar-statuslex .navbar-brand:focus {
  background-color: transparent;
}
.navbar-statuslex .navbar-text {
  color: #3498DB;
}
.navbar-statuslex .navbar-nav > li > a {
  color: #ECF0F1;
  font-size: 1.2em;
  margin: 12px 0px;
}
.navbar-statuslex .navbar-nav > li > a:hover,
.navbar-statuslex .navbar-nav > li > a:focus {
  color: #3498DB;
  background-color: transparent;
}
.navbar-statuslex .navbar-nav > .active > a,
.navbar-statuslex .navbar-nav > .active > a:hover,
.navbar-statuslex .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-statuslex .navbar-nav > .disabled > a,
.navbar-statuslex .navbar-nav > .disabled > a:hover,
.navbar-statuslex .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-statuslex .navbar-toggle {
  margin: 18px 18px;
  border-color: #ddd;
}
.navbar-statuslex .navbar-toggle:hover,
.navbar-statuslex .navbar-toggle:focus {
  border-color: #3498DB;
  background-color: transparent;
}
.navbar-statuslex .navbar-toggle .icon-bar {
  background-color: #ddd;
}
.navbar-statuslex .navbar-collapse,
.navbar-statuslex .navbar-form {
  border-color: #e7e7e7;
}
.navbar-statuslex .navbar-nav > .open > a,
.navbar-statuslex .navbar-nav > .open > a:hover,
.navbar-statuslex .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-statuslex .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-statuslex .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-statuslex .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-statuslex .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-statuslex .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-statuslex .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-statuslex .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-statuslex .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-statuslex .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-statuslex .navbar-link {
  color: #777;
}
.navbar-statuslex .navbar-link:hover {
  color: #333;
}
.navbar-statuslex .btn-link {
  color: #777;
}
.navbar-statuslex .btn-link:hover,
.navbar-statuslex .btn-link:focus {
  color: #333;
}
.navbar-statuslex .btn-link[disabled]:hover,
fieldset[disabled] .navbar-statuslex .btn-link:hover,
.navbar-statuslex .btn-link[disabled]:focus,
fieldset[disabled] .navbar-statuslex .btn-link:focus {
  color: #ccc;
}