html,body{
	margin: 0px;
	font-family: 'Raleway', San Serif;
}



.title {
  font-weight: 700;
  margin-top:0px;

}

.details-ul{
      list-style-type: none;
      padding: 0
    }

.details-ul li{
      line-height: 1.4em;
}

.logo {
  font-size: 3.5em;
  font-weight: 700;
  color: #0259A7;
  height: 1.5em;
}