<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped hidden-xs">
       <thead>
           <tr>
              <th colspan="6"><input st-search placeholder="Search" class="input-md form-control" type="search"></th>
           </tr>
           <tr>
             <th st-sort="Date" class="sortable">Date</th>
             <th st-sort="getters.Address" class="sortable">Address</th>
             <th st-sort="PermitType" class="sortable">Permit Type</th>
             <th st-sort="getters.ConstructionCost" class="sortable">Const. Cost</th>
             <th st-sort="OwnerName" class="sortable">Owner</th>
             <th st-sort="Contractor" class="sortable">Contractor</th>
           </tr>
       </thead>
       <tbody>
       <tr ng-repeat="x in displayedCollection">
           <td><a ng-href="#bldg-permits/{{x._id}}">{{x.Date | date:'shortDate'}}</a></td>
           <td><a ng-href="#bldg-permits/{{x._id}}">{{x.Address | titlecase}}</a></td>
           <td><a ng-href="#bldg-permits/{{x._id}}">{{x.PermitType | titlecase}}</a></td>
           <td><a ng-href="#bldg-permits/{{x._id}}">{{x.ConstructionCost | currency}}</a></td>
           <td><a ng-href="#bldg-permits/{{x._id}}">{{x.OwnerName | titlecase}}</a></td>
           <td><a ng-href="#bldg-permits/{{x._id}}">{{x.Contractor | titlecase}}</a></td>
       </tr>
       </tbody>
</table>

<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped visible-xs-block">
      <thead>
        <tr>
         <th><input st-search placeholder="Search" class="input-md form-control" type="search"></th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="x in displayedCollection">
        <td>
          <a ng-href="#bldg-permits/{{x._id}}">
          <span class="bold">{{x.CleanAddress | titlecase}}</span><br/>
          {{x.Date | date:'shortDate'}}<br/>
          {{x.PermitType | titlecase}}</a>
        </td>
      </tr>
    </tbody>
</table>
    
<p class="text-center">Your search returned {{RecordCount | number}} records.</p>

