    <div class="col-sm-12">
    <div id="record" ng-repeat="x in DetailData">
    	 <h1 class="title">{{x.CleanAddress | titlecase}}</h1>
       <h3>{{RecordType | titlecase}}</h3>
    	   <ul class="details-ul">
    		   <li><strong>Permit ID:</strong> {{x.ID}}</li>
           <li><strong>Date:</strong> {{x.Date | date:'shortDate'}}</li>
    		   <li><strong>Address:</strong> {{x.Address | titlecase}}</li>
           <li><strong>Permit Type:</strong> {{x.PermitType | titlecase}}</li>
           <li><strong>Construction Cost:</strong> {{x.ConstructionCost | currency}}</li>
           <li><strong>Owner:</strong> {{x.OwnerName | titlecase}}</li>
           <li><strong>Contractor:</strong> {{x.Contractor | titlecase}}</li>
    	   </ul>
    </div>
    <div id="meta">
      <h3>About the Data</h3>
      <p>{{Meta}}</p>
      <p>{{Contact}}</p>
      <p>Addresses and map locations are approximate. No warranties, expressed or implied, are provided with this information.</p>
    </div>
  </div> 