<div class="row">
  <div class="form-group col-md-6">
    <input ng-model="keyword" name="search" placeholder="Search" class="input-md form-control" type="search">
  </div>
  <div class="form-group col-md-3">
    <select ng-model="sort" class="input-md form-control">
                  <option value='"DateOpened" DESC'>Date Opened - Newest to Oldest</option>
                  <option value='"DateOpened" ASC'>Date Opened - Oldest to Newest</option>
                  <option value='"Address" DESC'>Address - Z to A</option>
                  <option value='"Address" ASC'>Address - A to Z</option>
                  <option value='"CaseType" DESC'>Case Type - Z to A</option>
                  <option value='"CaseType" ASC'>Case Type - A to Z</option>
                  <option value='"Status" DESC'>Status - Z to A</option>
                  <option value='"Status" ASC'>Status - A to Z</option>
                  <option value='"StatusDate" DESC'>Status Date - Newest to Oldest</option>
                  <option value='"StatusDate" ASC'>Status Date - Oldest to Newest</option>
    </select>
  </div>
  <div class="form-group col-md-3">
    <select ng-model="limit" class="input-md form-control">
                  <option value=10>10 items per page</option>
                  <option value=25>25 items per page</option>
                  <option value=50>50 items per page</option>
                  <option value=100>100 items per page</option>
    </select>
  </div>
</div>
<table class="table table-striped hidden-xs">
       <thead>
           <tr>
             <th ng-repeat="x in fields">{{x.display}}</th>
           </tr>
       </thead>
       <tbody>
       <tr ng-repeat="x in rows">
           <td><a ng-href="#code-cases/{{x._id}}">{{x.DateOpened | date:'shortDate'}}</a></td>
           <td><a ng-href="#code-cases/{{x._id}}">{{x.Address | titlecase}}</a></td>
           <td><a ng-href="#code-cases/{{x._id}}">{{x.CaseType | titlecase}}</a></td>
           <td><a ng-href="#code-cases/{{x._id}}">{{x.Status | titlecase}}</a></td>
           <td><a ng-href="#code-cases/{{x._id}}">{{x.StatusDate | date:'shortDate'}}</a></td>
       </tr>
       </tbody>
</table>

<div class="visible-xs-block">
 <div class="col-sm-12" ng-repeat="x in rows">
          <hr/>
          <a ng-href="#code-cases/{{x._id}}">
          <strong>{{x.CleanAddress | titlecase}}</strong><br/>
          Opened on {{x.DateOpened | date:'shortDate'}}<br/>
          {{x.CaseType | titlecase}} Case<br/>
          {{x.Status | titlecase}} - {{x.StatusDate | date:'shortDate'}}
          </a>
 </div>
</div>

<div class="text-center">
  <ul class="pagination">
      <li class="pointer" ng-click='first()'><a>First</a></li>
      <li class="pointer" ng-show="showprev" ng-click='previous()'><a>Previous</a></li>
      <li class="pointer" ng-show="shownext" ng-click='next()'><a>Next</a></li>
      <li class="pointer" ng-click='last()'><a>Last</a></li>
  </ul>
</div>

<p class="text-center">Page {{page}} of {{totalpages | number}} ({{ (limit * page) - (limit - 1) | number}} - {{limit * page | number}} of {{RecordCount | number}} total items.)</p>
  
