<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped hidden-xs">
       <thead>
           <tr>
              <th colspan="5"><input st-search placeholder="Search" class="input-md form-control" type="search"></th>
           </tr>
           <tr>
             <th st-sort="DateOpened" class="sortable">Date Opened</th>
             <th st-sort="getters.Address" class="sortable">Address</th>
             <th st-sort="CaseType" class="sortable">Case Type</th>
             <th st-sort="Status" class="sortable">Status</th>
             <th st-sort="StatusDate" class="sortable">Status Date</th>
           </tr>
       </thead>
       <tbody>
       <tr ng-repeat="x in displayedCollection">
           <td><a ng-href="#code-cases/{{x._id}}">{{x.DateOpened | date:'shortDate'}}</a></td>
           <td><a ng-href="#code-cases/{{x._id}}">{{x.Address | titlecase}}</a></td>
           <td><a ng-href="#code-cases/{{x._id}}">{{x.CaseType | titlecase}}</a></td>
           <td><a ng-href="#code-cases/{{x._id}}">{{x.Status | titlecase}}</a></td>
           <td><a ng-href="#code-cases/{{x._id}}">{{x.StatusDate | date:'shortDate'}}</a></td>
       </tr>
       </tbody>
</table>

<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped visible-xs-block">
      <thead>
        <tr>
         <th><input st-search placeholder="Search" class="input-md form-control" type="search"></th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="x in displayedCollection">
        <td>
          <a ng-href="#code-cases/{{x._id}}">
          <span class="bold">{{x.CleanAddress | titlecase}}</span><br/>
          {{x.DateOpened | date:'shortDate'}}<br/>
          {{x.CaseType | titlecase}} Case</a>
        </td>
      </tr>
    </tbody>
</table>
    
<p class="text-center">Your search returned {{RecordCount | number}} records.</p>
