<div class="col-md-12">
    <div id="meta">
      <h3>About the Data</h3>
      <p>Code enforcement cases are opened based on citizen complaints for violations of nuisance code, the International Property Maintenance Code, and sidewalk regulations.</p>
      <p>If you have questions or concerns about code enforcement cases, please contact the the Division of Code Enforcement at (859) 425-2255.</p>
      <p>Addresses and map locations are approximate. No warranties, expressed or implied, are provided with this information.</p>
    </div>
</div>

