<div class="col-md-12">
<div class="row">
	<div class="col-sm-3 tiles">
		<i class="fa fa-home"></i>
		<a href="#bldg-permits-search"><h3>Building Permits</h3></a>	
	</div>
	<div class="col-sm-3 tiles">
		<i class="fa fa-shield"></i> 
		<a href="#code-cases-search"><h3>Code Enforcement Cases</h3></a>
	</div>
	<div class="col-sm-3 tiles">
		<i class="fa fa-phone"></i>
		<a href="#bldg-permits-search"><h3>LexCall Requests</h3></a>	
	</div>
	<div class="col-sm-3 tiles">
		<i class="fa fa-road"></i> 
		<a href="#code-cases-search"><h3>Street Cut and Utility Permits</h3></a>
	</div>
</div>
</div>